<section id="hero2" class="d-block align-items-center fullWidth">
       <div class="carousel-container container fullWidth col-12">
              <div class="carousel-content animate__animated animate__fadeInUp fullWidth">
                     <p class="text-center">Vi chiediamo gentilmente di riempire il nostro formulario. Cliccare sul
                            pulsante e seguire le
                            istruzioni.</p>
                     <div class="text-center"><a target="_blank" href="/hb/poll" class="btn-get-started">Clicca qui</a>
                     </div>
              </div>
       </div>
       <div class="carousel-container container fullWidth col-12 pt-4">
              <div class="carousel-content animate__animated animate__fadeInUp fullWidth">
                     <p class="text-center">Regolamento Doposcuola - Corsi - Anno Scolastico 2022-2023.</p>
                     <div class="text-center"><a target="_blank" href="/hb/rules" class="btn-get-started">Clicca qui</a>
                     </div>
              </div>
       </div>
</section>

{{#if (or (notNullOrUndefined evento) (notNullOrUndefined corso) ) }}
<!-- ======= Events Section ======= -->
<section id="events" class="events section-bg">
       <div class="container aos-init aos-animate" data-aos="fade-up">
              <div class="row justify-content-around">

                     {{#if evento}}
                     <div class="col-sm-10 col-md-6 col-lg-5 d-flex align-items-stretch">
                            <div class="card section-bg">
                                   <h2 class="pb-4 text-center">Prossimo Evento</h2>
                                   {{#if evento.imgTitle}}
                                   <div class="card-img d-flex justify-content-center">
                                          <img src="{{evento.imgTitle.url}}" alt="..."
                                                 style=" width: auto; height: 40vh">
                                   </div>
                                   {{/if}}
                                   <div class="card-body">
                                          <h5 class="card-title"><a
                                                        href="/hb/details/{{evento.id}}">{{evento.title}}</a></h5>
                                          <div class="card-text">{{{evento.shortDescription}}}</div>
                                          <div class="text-center"><a href="/hb/details/{{evento.id}}"
                                                        class="btn-get-started">Clicca qui</a>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     {{/if}}

                     {{#if corso}}
                     <div class="col-sm-10 col-md-6 col-lg-5 d-flex align-items-stretch">
                            <div class="card section-bg">
                                   <h2 class="pb-4 text-center">Prossimo Corso</h2>
                                   {{#if corso.imgTitle}}
                                   <div class="card-img d-flex justify-content-center">
                                          <img src="{{corso.imgTitle.url}}" alt="..."
                                                 style=" width: auto; height: 40vh">
                                   </div>
                                   {{/if}}
                                   <div class="card-body">
                                          <h5 class="card-title"><a href="/hb/details/{{corso.id}}">{{corso.title}}</a>
                                          </h5>
                                          <div class="card-text">{{{corso.shortDescription}}}</div>
                                          <div class="text-center"><a href="/hb/details/{{corso.id}}"
                                                        class="btn-get-started">Clicca qui</a>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     {{/if}}
              </div>
       </div>
</section><!-- End Events Section -->
{{/if}}